html {
    font-size: 62.5%;
}

body {
    margin: 0;
    color: #322720;
}

html, body {
	font-family: 'PT Sans Narrow', "Helvetica", Arial, sans-serif;
	font-size: 15px;
	background: #322720;
}

a {
    color: #ed1941;
    text-decoration: none;
}

a:hover {
	color: #ed1941;
    text-decoration: underline;
}

a:visited {
	color: #ed1941;
    text-decoration: none;
}

a:active {
    color: #ed1941;
    text-decoration: none;
}

#wrapper {
    overflow: hidden;
    width: 100%;
}

#main {
	background: url(../img/wrapper_bg.jpg);
    width: 2000px;
}

#header_inner,
#hero_inner,
#social_inner,
#footer_inner {
    width: 900px;
	margin: 0 auto;
/* 	background: aqua; */
}

header {
	height: 330px;
	background: url(../img/header_bg.jpg);
}

#hero {
	height: 342px;
	background: url(../img/hero_bg.png);
}

.hero_description {
	padding: 95px 30px 30px 310px;
	line-height: 1.2;
}

.hero_description p {
	margin-bottom: 10px;
}

.hero_features {
	margin-top: -20px;
}

.hero_features ul li {
	display: inline;
	list-style-type: none;
	margin: 10px;
}

.hero_features ul {
	text-align: center;
}

#social {
	height: 145px;
	background: url(../img/social_bg.png);
}

.social_follow {
	padding: 40px 30px 30px 130px;
}

.social_follow ul li {
	display: inline;
	list-style-type: none;
	margin: 5px;
}

.social_follow ul {
	text-align: center;
}

#mc_embed_signup {
	margin-top: -65px;
	margin-left: 480px;
}

#mc_embed_signup input#mce-EMAIL.email {
	margin-top: 5px;
	width: 240px;
	height: 20px;
}

#mc_embed_signup input#mc-embedded-subscribe.button {

}

#app {
	height: 759px;
	background: url(../img/app_bg.png);
}

footer {
    height: 415px;
	background: url(../img/footer_bg.png);
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
	color: #322720;
}

#footer_cr {
	width: 400px;
	margin: 0 auto;
	padding-top: 390px;
	text-align: center;
}

.shrink-wrap {
   float: right;
   position: relative;
   left: -50%;
}
.shrink-wrap > div {
   position: relative;
   left: 50%;
}