html {
    font-size: 62.5%;
	background: #322720;
	background: url(../img/wrapper_bg.jpg);
	background-position: center top;
}

body {
    color: #322720;
}

html, body {
	font-family: 'PT Sans Narrow', "Helvetica", Arial, sans-serif;
	font-size: 15px;
}

a {
    color: #ed1941;
    text-decoration: none;
}

a:hover {
	color: #ed1941;
    text-decoration: underline;
}

a:visited {
	color: #ed1941;
    text-decoration: none;
}

a:active {
    color: #ed1941;
    text-decoration: none;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

#main {
    
}

#header_inner,
#hero_inner,
#social_inner,
#store_inner,
#footer_inner {
    width: 900px;
	margin: 0 auto;
}

header {
	height: 330px;
	background: url(../img/header_bg.png);
}

#hero {
	height: 342px;
	background: url(../img/hero_bg.png);
}

.hero_description {
	padding: 35px 30px 30px 310px;
	line-height: 1.1;
}

.hero_description h1 {
	font-weight: 300;
	font-size: 26px;
	color: #fff;
	margin-bottom: 30px;
}

.hero_description p {
	margin-bottom: 10px;
}

.hero_features {
	margin-top: -20px;
}

.hero_features ul li {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 10px;
	width: 270px;
}

.hero_features ul li img {
	margin-bottom: 5px;
}

.hero_features ul {
	text-align: center;
}

#social {
	height: 145px;
}

.social_follow {
	padding: 45px 30px 30px 40px;
}

.social_follow h1 {
	font-weight: 300;
	font-size: 26px;
	color: #fff;
}

.social_follow ul li {
	display: inline;
	list-style-type: none;
	margin: 5px;
}

.social_follow ul {
	text-align: center;
	margin-top: -55px;
	margin-left: 100px;
}

#mc_embed_signup {
	margin-top: -65px;
	margin-left: 580px;
}

#mc_embed_signup input#mce-EMAIL.email {
	margin-top: 5px;
	width: 240px;
	height: 20px;
}

#mc_embed_signup input#mc-embedded-subscribe.button {

}

#store {
	
}

#store_inner ul li {
	display: inline;
	list-style-type: none;
	margin: 5px;
}

#store_inner ul {
	margin-top: 70px;
	margin-left: 90px;
}

#store_inner img {
	width: 180px;
}

#app {
	height: 600px;
	background: url(../img/app_bg.png);
	background-position: bottom;
	line-height: 1.1;
}

#app_inner {
	width: 250px;
	padding: 45px 0 0 585px;
}

#app h1 {
	text-align: right;
	font-weight: 300;
	font-size: 26px;
	color: #fff;
	margin: 25px 0 0 20px;
}

#app h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}

footer {
    height: 448px;
	background: url(../img/footer_bg.png);
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
	color: #322720;
}

#footer_cr {
	width: 400px;
	margin: 0 auto;
	padding-top: 390px;
	text-align: center;
}

@media only screen and (max-device-width: 480px) {
    html { background: url(../img/wrapper_bg_mobile.png); }
}